{% extends 'music/base.html' %}
{%block body%}

{% if all_albums%}
<div class="container-fluid ">

  <div class="row">
      {% for album in all_albums %}
      <div class="col-sm-3 text-center container-fluid" style="margin-right:2px">
          <div class="container-fluid">
              <a href="{% url 'music:detail' album.id %}">
                <img src="{{ album.album_logo.url }}" class="img-responsive"><br/>
              </a>
              <div class="container-fluid" >
                    <a href="{% url 'music:detail' album.id %}"><button type="button" class="btn btn-success btn-sm" style="margin-top:5px;" >View Details</button></a>
                    <a href="{% url 'music:album-update' album.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top:5px;" >
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                    </button></a>
                    <form method="post" action="{% url 'music:album-delete' album.id %}" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm" style="margin-top:5px;" >
                        <span class="fa fa-trash" aria-hidden="true"></span>
                        </button>
                    </form>
              </div>
          </div>juhijh
          <h3>{{album.album_title}}</h3>
          <p>{{album.artist}}</p>
      </div>
      {% endfor %}
  </div><br/><br/><br/><br/>
</div>

{% else %}
<h2>You do not have any albums to display</h2>
{% endif %}
{% endblock %}